### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box

### YMAL ###
auth.yaml

###Directory###
.directory

###Environment###
.env

### Portainet-data
portainer-data
